<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @entry.user_id %>
</p>

<p>
  <strong>Url:</strong>
  <%= @entry.url %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @entry.comment %>
</p>

<p>
  <strong>Type:</strong>
  <%= @entry.type %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
